@model Banco.Web.Models.OrdenPagoViewModel

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consulta</h2>

@using (Html.BeginForm("Consulta", "OrdenPago", FormMethod.Post))
{
    <fieldset>
        <legend>Criterios de búsqueda</legend>
        @Html.Label("buscar", "Sucursal:")     
        @Html.DropDownListFor(model => model.CodigoSucursal, new SelectList(Model.ListaSucursalCombo, "CodigoSucursal", "Nombre") as SelectList, "Seleccione", new { htmlAttributes = new { @class = "form-control" } })
        @Html.Label("buscar", "Moneda:")
        @Html.DropDownListFor(model => model.CodigoMoneda, new SelectList(Model.ListaMonedaCombo, "CodigoMoneda", "Nombre") as SelectList, "Seleccione", new { htmlAttributes = new { @class = "form-control" } })

        <input type="submit" value="Buscar" />
    </fieldset>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoOrdenPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
    </tr>

@foreach (var item in Model.ListaOrdenPago) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoOrdenPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moneda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
    </tr>
}

</table>
